
html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #faf7f7; /* Fundo da página */
    color: #43bdf5; /* Texto em branco para contraste */
  }
  
  header {
    background-color: #5cc2f1; /* Preto para o cabeçalho */
    color: rgb(0, 0, 0); /* Vermelho para o texto do cabeçalho */
  }
  
  main {
    background-color: #ffffff; /* Fundo principal */
  }

  
  
  footer {
    background-color: #000000; /* Preto para o rodapé */
    color: rgb(255, 45, 45); /* Roxo para o texto do rodapé */
    text-align: center;
    padding: 10px 0;
  }
  
