html, body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o preenchimento padrão */
}

header {
  background-color: #008cff; /* Cor preta mais tradicional para o cabeçalho */
  padding: 20px 0; /* Espaçamento interno (topo e fundo) */
  text-align: center; /* Centraliza o texto */
}

main {
  background-color: #0d4eff; /* Fundo principal azul claro */
  padding: 20px; /* Espaçamento interno */
}

footer {
  background-color: #000000; /* Preto para o rodapé */
  color: #10f7ff; /* Cinza claro para o texto (menos agressivo que o roxo neon) */
  text-align: center;
  padding: 15px 0; /* Mais espaçamento para o rodapé */
}

footer a:hover {
  text-decoration: underline; /* Sublinha o link ao passar o mouse */
}

